.gsd-keyboard.settings-ported
BraveSoftware/
Code/
FortiClient/
GIMP/
QtProject.conf
VirtualBox/
codeblocks/
dconf/
enchant/
eog/
evolution/
flameshot/
gedit/
gnome-control-center/
gnome-initial-setup-done
go/
google-chrome/
gtk-3.0/
gtk-4.0/
i3/
ibus/
kitty/
lazygit/
libreoffice/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
nvim.20240312.bak/
nvim.bak/
obsidian/
pulse/
user-dirs.dirs
user-dirs.locale
wireshark/
yelp/
zoom.conf
zoomus.conf
